*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Barlow-Regular';
  src: url('./fonts//Barlow-Regular.otf');
}

@font-face {
  font-family: 'Barlow-Bold';
  src: url('./fonts/Barlow-Bold.otf');
}

@font-face {
  font-family: 'Barlow-Light';
  src: url('./fonts/Barlow-Light.otf');
}

* {
  font-family: 'Barlow-Regular';
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eff6ff;
}

.register-card {
  width: 63vw;
  height: 83vh;
}

.register-card .left-image {
  height: 100%;
  width: 53%;
  float: left;
  background: url('./img/bg.jpg') no-repeat no-repeat;
  /* по макету изображение похоже, что 50%, но тут сама картинка маленькая => растягивается. С этим нужно что-то делать? */
  background-size: cover;
  background-position: center center;
}

.form {
  height: 100%;
  width: 47%;
  float: right;
  padding: 140px 90px;
  background: #fff;
}

.form-title {
  font-family: 'Barlow-Light';
  font-size: 30px;
  color: #2a4a5c;
}

.form-paragraph {
  color: #7b8a92;
  font-size: 24px;
  margin-top: 20px;
}

.third-party-apps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tpa-button {
  display: flex;
  align-items: center;
  width: 270px;
  margin-top: 65px;
  padding: 14px;
  font-family: 'Barlow-Light';
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.tpa-button img {
  width: 20px;
  margin-right: 15px;
}

.tpa-button.facebook {
  background-color: #255a9b;
}

.tpa-button.linkedin {
  background-color: #0076b6;
}

.divider {
  display: flex;
  justify-content: center;

  padding: 50px 0;
}

.divider span {
  /* display: block; */
  color: #2a4a5c;
  font-size: 14px;
  position: relative;
}

.divider span::before,
.divider span::after {
  content: '';
  height: 1px;
  width: 130px;
  background-color: #e5e5e5;
  position: absolute;
  top: 50%;
}

.divider span::before {
  left: -140px;
}

.divider span::after {
  left: 30px;
}

.credentials {
  display: flex;
  justify-content: space-between;
}

.form-group {
  position: relative;
}

.form-input {
  /* background: #000; */
  border: 1px solid #f3f3f3;
  width: 270px;
  /* height: 60px; */
  display: inline-block;
  padding: 25px 20px 10px 10px;
  font-size: 18px;
}

.form-input:focus {
  border-left: 1px solid #6cb3fc;
}

.form-label {
  position: absolute;
  left: 10px;
  top: 5px;
  color: #a5b2bb;
}

.invest-types-title {
  font-size: 24px;
  color: #466576;
  font-family: 'Barlow-Light';
  margin-top: 60px;
}

.invest-types-subtitle {
  color: #94a2a9;
  font-size: 16px;
  margin-top: 10px;
}

.radio-group {
  display: inline-block;
  margin-right: 40px;
}

.custom-radio {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #e9e9e9;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
  position: relative;
}

/* .custom-radio::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
} */

.plans {
  margin-top: 50px;
}

.real-radio:checked + .custom-radio {
  border: 5px solid #3c9afa;
  background: transparent;
}

.real-radio {
  display: none;
}

.mock {
  color: #eff6ff;
  color: #2a4a5c;
  color: #255a9b;
  color: #0076b6;
  color: #3698fb;
  color: #7b8a92;
  color: #96a5b1;
  color: #afafaf;
  color: #eeeeee;
  color: #ffffff;
}
